header nav ul .move {
    left: 0;
}

#section_1 {
    position: relative;
    margin-top: -2px;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

#section_1 .control{
    position: absolute;
    top: 300px;
    right:-50px;
    width: 50px;
    height: 50px;
    z-index: 11;
    transition:all .4s;
}

#section_1 .control:hover{
    cursor: pointer;
}

video {
    width: 100%;
    height: 655px;
}

#section_1 .cover{
    position: absolute;
    right: -2px;
    width: 200px;
    height: 655px;
    background:linear-gradient(to right,transparent,black);
    opacity: 0;
    transition:all .5s;
}

#section_1 p {
    font-size: 22px;
    margin: 0 0 5px 10px;
    color: #FFF;
}

#section_1 .mes {
    position: absolute;
    top: 200px;
    left: 120px;
}

#section_1 p:first-child {
    font-family: Arial;
    font-size: 80px;
    margin-left: 0;
}

#section_1 .mes .start {
    display: inline-block;
    margin: 20px 0 0 10px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    color: #FFF;
    line-height: 60px;
    background-color: #437bff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

#section_1 .mes .start:hover {
    background: #97b6ff;
}

#section_2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#section_2 .cell {
    margin: 0 0 40px 0;
    width: 25%;
    text-align: center;
}

#section_2 div .img {
    margin: 40px;
}

#section_2 div .img img {
    width: 60px;
}

#section_2 .cell p {
    font-size: 14px;
    color: gray;
    padding-bottom: 20px;
    border-right: 2px solid gray;
}

#section_2 .cell p:hover {
    color: #437bff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section_3 {
    width: 100%;
    padding: 30px 0 30px 0;
    text-align: center;
    background: #EDEAEA;
}

#section_3 .mes {
    margin-top: 20px;
    font-size: 25px;
    color: gray;
}

#section-4 {
    width: 100%;
    height: 300px;
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/pic02.jpg);
    background-size: cover;
}

#section-4 .mes p {
    color: #fff;
    margin: 0;
}

#section-4 .mes p:first-child {
    font-size: 22px;
}

#section-4 .mes p:last-child {
    font-size: 13px;
}

#section-4 .mes span {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-top: 10px;
    border-top: 2px solid #fff;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#section-4 .mes span:hover {
    width: 300px;
}

#section-4 .options {
    height: 36px;
}

#section-4 input[type="radio"] {
    width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 47px;
    z-index: 10;
}

#section-4 .options .select {
    width: 240px;
    height: 36px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #97b6ff;
    background: url(../images/icon-7.png) no-repeat 210px 8px, #fff;
    background-size: 20px;
}

#section-4 .options .select:last-of-type {
    visibility: hidden;
}

#section-4 .options .select span {
    margin-left: 10px;
}

#section-4 .options .select .option {
    width: 240px;
    background-color: #E3E3E5;
    position: absolute;
    z-index: 10;
    display: none;
    left: -2px;
    top: 34px;
}

#section-4 .options .select .option ul {
    margin: 0;
    padding: 0;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid #97b6ff;
    border-top-width: 0;
}

#section-4 .options .select .option ul li {
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
}

#section4 .options .select .option ul li:hover {
    background: url(../images/icon-8.png) no-repeat 10px 8px, #97b6ff;
    background-size: 20px;
    color: #fff;
}

#section-4 input[type="submit"] {
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    background-color: #437bff;
    color: black;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 36px;
    border-radius: 3px;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

#section-4 input[type="submit"]:hover {
    background-color: #97b6ff;
}

#section-5 {
    width: 100%;
    background-color: #EDEAEA;
    display: flex;
    justify-content: center;
}

#section-5 .cell {
    margin: 80px 50px 80px 0;
    text-align: center;
}

#section-5 .cell img {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    height: 350px;
}

#section-5 .cell p {
    line-height: 20px;
    margin: 5px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

#section-5 .cell p:first-of-type {
    font-size: 14px;
}

#section-5 .cell p:last-of-type {
    color: gray;
    font-size: 12px;
}

#section-6 {
    width: 100%;
    height: 560px;
}

#section-6 .left {
    width: 66.5%;
    height: 560px;
    float: left;
    background: url(../images/pic07.jpg) no-repeat;
    background-size: cover;
}

#section-6 .left .mes {
    color: #FFF;
    text-align: center;
}

#section-6 .left .mes p:nth-of-type(1) {
    font-size: 50px;
    margin: 130px 0 0 0;
}

#section-6 .left .mes p:nth-of-type(2) {
    font-size: 180px;
    margin: 0;
}

#section-6 .left .mes p:nth-of-type(3),
#section-6 .left .mes p:nth-of-type(4) {
    font-size: 25px;
    margin: 5px;
}

#section-6 .right {
    width: 32%;
    height: 560px;
    float: right;
    padding: 150px 70px;
    box-sizing: border-box;
    text-align: center;
}

#section-6 .right p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
}

#section-6 .right span {
    color: #97b6ff;
}

#section-6 .right p:nth-of-type(2) {
    font-size: 12px;
    color: gray;
    line-height: 2;
}

#section-6 .right .button {
    width: 100px;
    height: 35px;
    font-size: 13px;
    display: inline-block;
    line-height: 35px;
    border: 1px solid #97b6ff;
    color: #97b6ff;
    background-color: #fff;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section-6 .right .button:hover {
    background-color: #97b6ff;
    color: #fff;
}

#section-7 {
    clear: left;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: flex-start;
}

#section-7 div {
    width: 506px;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#section-7 div p {
    margin: 10px;
}

#section-7 .button {
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin: 0 150px;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section-7 .one {
    background-color: #97b6ff;
    color: #FFF;
}

#section-7 .one .button {
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 3px;
}

#section-7 .one .button:hover {
    background-color: #FFF;
    color: #97b6ff;
}

#section-7 .two .button {
    border: 1px solid #97b6ff;
    border-radius: 3px;
    color: #97b6ff;
    padding: 3px;
}

#section-7 .two .button:hover {
    background-color: #97b6ff;
    color: #FFF;
}

#section-7 div span {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section-7 div span:hover {
    width: 190px;
}

#section-7 .one span {
    border-top: 2px solid #FFF;
}

#section-7 .two span {
    border-top: 2px solid gray;
}

#section-7 .img {
    background: url('../images/pic08.jpg') no-repeat;
    background-size: cover;
}

#section-7 .img header {
    content: '';
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: 0;
    height: 0px;
    border: 20px solid transparent;
    border-left-color: #FFF;
}

#section-8 {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    background-color: #33363F;
}

#section-8 .mes p {
    color: #FFF;
}

#section-8 .mes p:first-of-type {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 23px;
}

#section-8 .mes p:last-of-type {
    font-size: 14px;
}

#section-8 .text {
    margin: 30px auto;
    width: 40%;
}

#section-8 .text input[type='email'] {
    width: 80%;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #75757F;
}

#section-8 .text input[type='submit'] {
    box-sizing: border-box;
    width: 15%;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    border: 0;
    padding: 0;
    background-color: #437bff;
    cursor: pointer;
    color: #FFF;
    letter-spacing: 3px;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

#section-8 .text input[type='submit']:hover {
    background-color: #97b6ff;
}