header nav ul .move{
    left: 30%;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1300px;
    height: 1000px;
}

.body{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: 20px 0 20px 0;
    padding:30px;
    border:2px solid #437bff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1) ;
    overflow: hidden;
}

.body p{
    float: left;
    text-indent: 2em;
    line-height: 50px;
    font-size: 20px;
    z-index: 10;
}

.body-bg{
    position: absolute;
    top:290px;
    left:700px;
    width: 50%;
    opacity:0.08;
    z-index: -10;
}

table{
    border-collapse: collapse;
}

table,th,tr,td{
    border:1px solid #000;
}

th{
    height: 50px;
}

tr,td{
    width:200px;
    text-align: center;
    height: 30px;
    padding:10px;
}

td a {
    color: #437bff;
    transition: all 0.5s;
}

td a:hover{
    color:#97b6ff;
}