header nav ul .move{
    left: 15%;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1300px;
}

.body{
    position: relative;
    width: 100%;
    margin: 20px 0 20px 0;
    padding:30px;
    border:2px solid #437bff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1) ;
    overflow: hidden;
}

.body p{
    float: left;
    text-indent: 2em;
    line-height: 50px;
    font-size: 20px;
}

.body-bg{
    position: absolute;
    top:600px;
    left:700px;
    width: 50%;
    opacity:0.08;
    z-index: -1;
}
